@font-face {
    font-family: 'Farmhouse';
    src: url('../src/assets/fonts/Farmhouse\ 2.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Roustel';
    src: url('../src/assets/fonts/Roustel.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }


  @font-face {
    font-family: 'Only You';
    src: url('../src/assets/fonts/Only\ You.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  h1 {
    font-family: 'Roustel';
    font-size: 60px;
    color: rgb(248, 242, 237);
    margin-left: 40px;
  }

  h2 {
    font-family: 'Farmhouse';
    font-size: 40px;
    text-align: center;
    color: rgb(79, 86, 68);
  }

  .homepage-description{
  font-size: 14px; 
  color: #3e4d35; 
  line-height: 1; 
  font-family: 'Poppins', sans-serif; 
  background: #f4f1ea; 
  padding: 12px;
  max-width: 600px;
  margin: 10px auto; 
  text-align: center; 
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.1);
}

.main-container {
  background-image: url('./assets/images/background.png');
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  min-height: 100vh; 
}