.header-container {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 1rem;
    background-color: rgb(79, 86, 68);
}

  .header-buttons{
    font-family: 'Farmhouse';
    display: flex;
    flex-direction: column;
    align-items: flex-end;  
    font-size: 20px;
    color:rgb(79, 86, 68);
    background-color: rgb(248, 242, 237);
    padding: 10px 20px;
    transition: background-color 0.3s ease;
    clip-path: polygon(0% 50%, 15% 0%, 100% 0%, 100% 100%, 15% 100%, 0% 50%);
    min-width: 100px;
    max-width: 150px;
    text-align: center;
    margin: 0 10px;
    margin-top: 10px;
    text-decoration: none;
    color: inherit;
}
  
  .main-container {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    height: 100%; 
    margin-bottom: 100px;
    width: 100%;
  }
  .content {
    flex-grow: 1; 
  }

  .homepage-buttons {
    font-family: 'Only You';
    display: flex;
    flex-direction: column; 
    font-size: 18px;
    color: rgb(48, 44, 38);
    background-color: rgb(229, 211, 177); 
    border: none;
    text-align: left;
    border-radius: 15px;
    min-width: 400px;
    max-width: 600px;
    max-height: 30px;
    min-height: 25px;
    padding: 10px 10px 10px 20px;
    margin-top: 10px;
    text-decoration: none;
  }


  footer {
    background-color: rgb(48, 44, 38);
    color: rgb(248, 242, 237);
    text-align: center;
    padding-bottom: 5px; 
    padding-top: 10px; 
    margin-top: auto;
    width: 100%;
  }